<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
`
    <div class="flex justify-center items-center min-h-screen py-12">
        <div class="bg-white p-8 rounded-lg shadow-2xl w-full sm:max-w-md md:max-w-lg lg:max-w-xl">
            <h1 class="text-3xl sm:text-4xl font-semibold text-center text-gray-800 mb-8">Admin Page</h1>

    <form method="post" action="/submitForm" class="space-y-6" th:object="${adminModel}">
    <div class="mb-4">
        <label for="name" class="block text-xl font-medium text-gray-700">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
    </div>

    <div class="mb-4">
        <label for="email" class="block text-xl font-medium text-gray-700">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
    </div>

    <div class="mb-4">
        <label for="password" class="block text-xl font-medium text-gray-700">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
    </div>

    <div class="mb-4">
        <label for="role" class="block text-xl font-medium text-gray-700">Choose Role:</label>
        <select class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-xl" th:field="*{role}" id="role" required>
            <option value="FACULTY">Faculty</option>
            <option value="STUDENT">Student</option>
        </select>
    </div>

    <div class="mb-4">
        <input type="submit" class="w-full p-3 bg-blue-500 text-white rounded-md shadow hover:bg-blue-600 transition duration-300" value="Submit">
    </div>
</form>
        </div>
    </div>

</body>
</html>
